<div class="about">
    <h2>About World Happiness Report</h2>
    <p>The World Happiness Report is a landmark survey of the state of global happiness that ranks 149 countries by how happy their 
        citizens perceive themselves to be. The rankings in World Happiness Report use data that come from the Gallup World Poll 
        surveys. They are asked to rate their own current lives on that 0 to 10 scale.</p>
</div>

<div class="image">
    <img src="../../assets/home.jpg" alt="Emojis">
</div>