<div class="about">
    <h2>Features Analyzed</h2>
    <div class="text leftcontent">
        <h3>GDP per Capita</h3>
        <p>Per capita gross domestic product (GDP) is a metric that breaks down a country's economic output 
            per person and is calculated by dividing the GDP of a country by its population.Small, rich 
            countries and more developed industrial countries tend to have the highest per capita GDP.</p>
    </div>
    <img class="image  rightimg" src="../../assets/gdp.jpg" alt="GDP">
    <img class="image leftimg" src="../../assets/social.jpg" alt="Social Support">
    <div class="text rightcontent">
        <h3>Social Support</h3>
        <p>Social support is a national average of the binary responses (0-no, 1-yes) to the Gallup World Poll(GWP) question, 
            "If you were in trouble, do you have relatives or friends you can count on to help you whenever you need them, or not?"</p>
    </div>
    <div class="text leftcontent">
        <h3>Health</h3>
        <p>Health Life Expectancy is the average number of years that a newborn can expect to live in “full health” 
            — in other words, not hampered by disabling illnesses or injuries.</p>
    </div>
    <img class="image rightimg" src="../../assets/healthcare.jpg" alt="Health">
    <img class="image leftimg" src="../../assets/freedom.jpg" alt="Freedom">
    <div class="text rightcontent">
        <h3>Freedom</h3>
        <p>Freedom to make life choices is the nation's average of binary responses of GWP question, "Are you satisfied or 
            dissatisfied with your freedom to choose on what you do with your life?"</p>
    </div>
    <div class="text leftcontent">
        <h3>Corruption</h3>
        <p>Perceptions of corruption are the average of binary answers to two GWP questions: "Is corruption widespread throughout
            the government or not?" and "Is corruption widespread within businesses or not?" Where data for government corruption are 
            missing, the perception of business corruption is used as the overall corruption-preception measure.</p>
    </div>
    <img class="image rightimg" src="../../assets/corruption.jpg" alt="Corruption">
    <img class="image leftimg" src="../../assets/generosity.jpg" alt="Generosity">
    <div class="text rightcontent">
        <h3>Generosity</h3>
        <p>Generosity is the residual of regressing the national average of GWP responses to the question, "Have you 
            donated money to a charity in the past month?" on GDP per capita.</p>
    </div>
</div>