<div class="container-fluid">
  <div class="row header">
      <div class="col-sm-4">
          <a routerLink=""><img id="logo" src="../assets/logo.png" alt="Logo"></a>
      </div>
      <div class="col-sm-8">
          <a class="link" routerLink="">Home</a>
          <a class="link" routerLink="about">About Dataset</a>
          <a class="link" routerLink="analysis">Analysis</a>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-12">
          <router-outlet></router-outlet>
      </div>
  </div>
  <div class="row footer">
      <div class="col-sm-2">
          <a href="https://github.com/Nivedhidha-I/World-Happiness-Report"><img class="icons" src="../assets/GitHub.jpg" alt="Github"></a>
          <a href="https://www.kaggle.com/mathurinache/world-happiness-report?select=2020.csv"><img class="icons" src="../assets/kaggle.jpg" alt="Kaggle"></a>
      </div>
      <div class="col-sm-10">
          <p>Jishnu V</p>
          <p>Joselyn Diana Cindrella M</p>
          <p>Kabilan A</p>
          <p>Kali Deepak T</p>
          <p>Nivedhidha I</p>
      </div>
  </div>
</div>